Dictonary

In [4]:
# Q1. Create an empty dictionary
dict1 = {}
print("Empty dictonary: \n {}".format(dict1))

Empty dictonary:
 {}

In [12]:
# Q2. Create the following dictionary 
# a.	Key	value
# b.	A	10
# c.	B	20

dict2 = {
    "A": 10,
    "B": 20
}
print(dict2)

{'A': 10, 'B': 20}

In [20]:
# Q3. Create a dictionary with different datatypes for keys
diff_dict = {
    "Integer": 1,
    "Float": 9.81,
    "Character": "a",
    "String": "hello world",
    "List": ['x', 'y', 'z'],
    "Tuple": (1, 3, 5),
    "Null": None
}
print(diff_dict)

{'Integer': 1, 'Float': 9.81, 'Character': 'a', 'String': 'hello world', 'List': ['x', 'y', 'z'], 'Tuple': (1, 3, 5), 'Null': None}

In [22]:
# Q4. Print all the items of a dictionary
user = {
    "Name": "Sanchit",
    "Age": 20,
    "Email": "xyz@abc.in",
}
print("User details: \n{}".format(user))

User details:
{'Name': 'Sanchit', 'Age': 20, 'Email': 'xyz@abc.in'}

In [24]:
# Q5. Delete an element of a dictionary
user = {
    "Name": "Sanchit",
    "Age": 20,
    "Email": "xyz@abc.in",
}
user.pop("Age")
print(user)

{'Name': 'Sanchit', 'Email': 'xyz@abc.in'}

In [4]:
# Q6. Delete full dictionary
old_user = {
    "id": 101,
    "name": "qwerty",
    "email": "qwerty@xyz.com",
    "is_active": 0
}
print(old_user)
del old_user
print(old_user)

{'id': 101, 'name': 'qwerty', 'email': 'qwerty@xyz.com', 'is_active': 0}

NameError: name 'old_user' is not defined

In [33]:
# Q7. Print a value for a key
dict7 = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3",
    "key4": "value4",
}

print(dict7["key2"])

value2

In [35]:
# Q8. To check if a key id present in a dictionary
dict8 = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3",
    "key4": "value4",
}
if "key4" in dict8:
    print("Key4 is present in dict8")
else:
    print("Key4 is not present in dict8")

Key4 is present in dict8

In [38]:
# Q9. Update a value of a key
dict9 = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3",
    "key4": "value4",
}
dict9.update({"key1": "value10"})
print(dict9)

{'key1': 'value10', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [41]:
# Q10. Add a new key value pair
user = {
    "Name": "Sanchit",
    "Age": 20,
    "Email": "xyz@abc.in",
}
user["is_active"] = True
print(user)

{'Name': 'Sanchit', 'Age': 20, 'Email': 'xyz@abc.in', 'is_active': True}

In [48]:
# Q11. Print dictionary for keys{1,10} and values as square of keys
keys=10
square_dict = {}
for i in range(1, keys+1):
    square_dict[i] = i**2
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [50]:
# Q12. Print nested dictionary
parent = {
    "child1": {
        "id": 100,
        "year": 2000,
    },
    "child2": {
        "id": 101,
        "year": 1999,
    },
    "child3": {
        "id": 102,
        "year": 2001
    }
}
print(parent)

{'child1': {'id': 100, 'year': 2000}, 'child2': {'id': 101, 'year': 1999}, 'child3': {'id': 102, 'year': 2001}}

In [65]:
# Q13. Concatenate three dictionaries
# Sample Dictionary :
# dic1={1:10, 2:20}
# dic2={3:30, 4:40}
# dic3={5:50,6:60}
# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4={}
for d in (dic1, dic2, dic3):
    dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [68]:
# Q14. Sum all the values of a dictionary
sum_dict = {
    "val1": 10,
    "val2": 20,
    "val3": 25,
    "val4": 40,
    "val5": 50,
}
sum = 0
for i in sum_dict:
    sum += sum_dict[i]

print("Sum of dictionary: {}".format(sum))

Sum of dictionary: 145

In [73]:
# Q15. Accessing an element of a nested dictionary
parent = {
    "child1": {
        "id": 100,
        "year": 2000,
    },
    "child2": {
        "id": 101,
        "year": 1999,
    },
    "child3": {
        "id": 102,
        "year": 2001
    }
}
print(parent["child1"]["id"])
print(parent["child1"]["year"])

100
2000

In [76]:
# Q16. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.
# Sample Dictionary
# {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

keys=15
square_dict = {i: i**2 for i in range(1, keys+1)}
print("Result: ",square_dict)

Result:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [81]:
# Q17. Insert factorial of keys in values. And print dictionary
def fact(num):
    res = 1
    for i in range(1,num+1):
        res *= i
    return res

keys=5
fact_dict = {i: fact(i) for i in range(1, keys + 1)}
print("Factorial of {} numbers are: \n{}".format(keys, fact_dict))

Factorial of 5 numbers are:
{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

Sets

In [5]:
# Q1. Write a program to create a set
set1 = {10, 20, 30, 40, 50}
print(set1)

{40, 10, 50, 20, 30}

In [6]:
# Q2. Write a program to add an element to set
set1 = {10, 20, 30, 40, 50}
set1.add(10)
print(set1)

{40, 10, 50, 20, 30}

In [9]:
# Q3. Write a program to add multiple items using update function
set1 = {10, 20, 30, 40, 50}
set1.update({11, 22, 33})
print(set1)

{33, 40, 10, 11, 50, 20, 22, 30}

In [10]:
# Q4. Write a program to find length of a set
set1 = {10, 20, 30, 40, 50}
print("Length: {}".format(len(set1)))

Length: 5

In [11]:
# Q5. Write a program to remove value from a set
set1 = {10, 20, 30, 40, 50}
set1.remove(10)
print(set1)

{40, 50, 20, 30}

In [12]:
# Q6. Write a program to pop an element from a set
set1 = {10, 20, 30, 40, 50}
set1.pop()
print(set1)

{10, 50, 20, 30}

In [13]:
# Q7. Write a program to update a set
set1 = {10, 20, 30, 40, 50}
set1.update({200})
print(set1)

{40, 200, 10, 50, 20, 30}

In [14]:
# Q8. Write a Python program to create an intersection of sets.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

new_set = set1.intersection(set2)
print("Intersection: ", new_set)

Intersection:  {40, 50, 30}

In [15]:
# Q9. Write a Python program to create a union of sets.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

new_set = set1.union(set2)
print("Union: ", new_set)

Union:  {70, 40, 10, 50, 20, 60, 30}

In [16]:
# Q10. Write a Python program to clear a set.
set1 = {10, 20, 30, 40, 50}
set1.clear()
print(set1)

set()

In [17]:
# Q11. Write a Python program to issubset and issuperset.
s1 = {1, 2, 3}
s2 = {1, 2, 3, 5, 4, 6}

new_set1 = s1.issubset(s2)
new_set2 = s2.issuperset(s1)

print("s1 is the subset of s2: {}".format(new_set1))
print("s2 is the superset of s1: {}".format(new_set2))

s1 is the subset of s2: True
s2 is the superset of s1: True

In [18]:
# Q12. Write a Python program to create set difference.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

diff_set = set1.difference(set2)
print("Difference: ", diff_set)

Difference:  {10, 20}

In [19]:
# Q13. Write a Python program to create a symmetric difference.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

sym_diff = set1.symmetric_difference(set2)
print("Symmetric Difference: ", sym_diff)

Symmetric Difference:  {20, 70, 10, 60}