In [3]:
# Q1. Write a program to create a set
set1 = {10, 20, 30, 40, 50}
print(set1)

{40, 10, 50, 20, 30}

In [13]:
# Q2. Write a program to add an element to set
set1 = {10, 20, 30, 40, 50}
set1.add(10)
print(set1)

{40, 10, 110, 50, 20, 30}

In [15]:
# Q3. Write a program to add multiple items using update function
set1 = {10, 20, 30, 40, 50}
set1.update({11, 22, 33})
print(set1)

{33, 40, 10, 11, 50, 20, 22, 30}

In [16]:
# Q4. Write a program to find length of a set
set1 = {10, 20, 30, 40, 50}
print("Length: {}".format(len(set1)))

Length: 5

In [17]:
# Q5. Write a program to remove value from a set
set1 = {10, 20, 30, 40, 50}
set1.remove(10)
print(set1)

{40, 50, 20, 30}

In [18]:
# Q6. Write a program to pop an element from a set
set1 = {10, 20, 30, 40, 50}
set1.pop()
print(set1)

{10, 50, 20, 30}

In [21]:
# Q7. Write a program to update a set
set1 = {10, 20, 30, 40, 50}
set1.update({200})
print(set1)

{40, 200, 10, 50, 20, 30}

In [32]:
# Q8. Write a Python program to create an intersection of sets.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

new_set = set1.intersection(set2)
print("Intersection: ", new_set)

Intersection:  {40, 50, 30}

In [33]:
# Q9. Write a Python program to create a union of sets.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

new_set = set1.union(set2)
print("Union: ", new_set)

Union:  {70, 40, 10, 50, 20, 60, 30}

In [24]:
# Q10. Write a Python program to clear a set.
set1 = {10, 20, 30, 40, 50}
set1.clear()
print(set1)

set()

In [27]:
# Q11. Write a Python program to issubset and issuperset.
s1 = {1, 2, 3}
s2 = {1, 2, 3, 5, 4, 6}

new_set1 = s1.issubset(s2)
new_set2 = s2.issuperset(s1)

print("s1 is the subset of s2: {}".format(new_set1))
print("s2 is the superset of s1: {}".format(new_set2))

s1 is the subset of s2: True
s2 is the superset of s1: True

In [30]:
# Q12. Write a Python program to create set difference.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

diff_set = set1.difference(set2)
print("Difference: ", diff_set)

Difference:  {10, 20}

In [31]:
# Q13. Write a Python program to create a symmetric difference.
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

sym_diff = set1.symmetric_difference(set2)
print("Symmetric Difference: ", sym_diff)

Symmetric Difference:  {20, 70, 10, 60}