In [11]:
# Q1
word = input("Enter the string: ")
print("String entered: {}".format(word))

res = ""
for i, val in enumerate(word):
    if i % 2 == 0:
        res += val

print("Characters on even places are: {}".format(res) )

String entered: string
Characters on even places are: srn

In [13]:
#Q3
list1 = ["Hello", "take"]
list2 = ["Dear", "Sir"]

res = []
for i in list1:
    for j in list2:
        res.append(i + ' ' + j)

print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [15]:
#Q4
prices = (30, 50, 40)
apple, banana, grapes = prices
print("Prices of apples: {}, bananas: {} and grapes: {}".format(apple, banana, grapes))

Prices of apples: 30, bananas: 50 and grapes: 40

In [32]:
#Q2
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
res = []
for num in list1:
    if num % 5 == 0 and num <= 150:
        res.append(num)
print('\n'.join(map(str, res)))

15
55
75
150

In [37]:
for d in "coding":
    if d == "d":
        pass
    print(d)

c
o
d
i
n
g